@page "/create-recipe"

@inject RecipeSource _recipeSource
@inject NavigationManager _navigationManager;

<EditForm Model="@Recipe" OnValidSubmit="@SaveRecipe">
	<div class="vstack gap-4">
		<div class="hstack gap-3">
			<button type="button" @onclick=StopEditing class="btn btn-lg btn-outline-secondary">Stop editing</button>
			<button class="btn btn-primary btn-lg">Save</button>
		</div>

		<InputText @bind-Value=Recipe.Name class="form-control" placeholder="Title" />
		<InputTextArea @bind-Value=Recipe.Description class="form-control" placeholder="Description" />

		<div>
			<h2>Tags</h2>
			<ListInput Ordered="false" Horizontal="true" Items="Recipe.Tags" Context="tag">
				<ItemTemplate>
					<InputText @bind-Value=tag.Name class="form-control" />
				</ItemTemplate>
			</ListInput>
		</div>

		<div>
			<h2>Ingredients</h2>
			<ListInput Items="Recipe.Ingredients" Context="ingredient">
				<ItemTemplate>
					<InputText @bind-Value=ingredient.Name class="form-control" />
					<InputNumber @bind-Value=ingredient.Amount class="form-control" />
					<InputText @bind-Value=ingredient.AmountUnit class="form-control" />
				</ItemTemplate>
			</ListInput>
		</div>

		<div>
			<div class="hstack gap-3">
				<button type="button" @onclick=StopEditing class="btn btn-lg btn-outline-secondary">Stop editing</button>
				<button class="btn btn-primary btn-lg">Save</button>
			</div>
			<div class="form-text">Unsaved changes will be lost on page refresh.</div>
		</div>
	</div>
</EditForm>

<div class="position-absolute bottom-0">
	@for (int i = 0; i < _successCount; i++)
	{
		<div class="alert alert-success">
			The recipe has been saved successfully.
		</div>
	}
</div>

@code {
	[Parameter]
	public RecipeDetailDto Recipe { get; set; } = null!; //always not null after OnInitialized

	[Parameter]
	public EventCallback OnStopEditing { get; set; }

	private RecipeDetailDto _oldRecipe = null!;
	private RecipeCreationDto _oldCreationDto = null!;
	private int _successCount = 0;

	protected override void OnInitialized()
	{
		if(Recipe == null)
		{
			Recipe = new RecipeDetailDto { Name = "" };
		}
		_oldRecipe = new RecipeDetailDto(Recipe);
		_oldCreationDto = ExtractCreationDto();
	}

	private async Task SaveRecipe()
	{
		var creationDto = ExtractCreationDto();
		if(Recipe.Id == 0)
		{
			Recipe = await _recipeSource.Insert(creationDto);
			_navigationManager.NavigateTo($"/recipes/{Recipe.Id}");
		}
		else if(creationDto != _oldCreationDto)
		{
			await _recipeSource.Update(Recipe.Id, creationDto);
		}

		//tags, ingredients, instructions

		_oldRecipe = new RecipeDetailDto(Recipe);
		_oldCreationDto = creationDto;

		_successCount++;
		await Task.Delay(3000).ContinueWith((t) => _successCount--);
	}

	private RecipeCreationDto ExtractCreationDto()
	{
		return new RecipeCreationDto(
			Recipe.Name,
			Recipe.IsPublic,
			Recipe.Description,
			Recipe.PrepTimeMins,
			Recipe.CookTimeMins,
			Recipe.Servings);
	}

	private void StopEditing()
	{

		OnStopEditing.InvokeAsync();
	}
}
