@page "/"

@inject RecipeSource source

<PageTitle>Index</PageTitle>

@if (_errorText != null)
{
	<ClientError Text=@_errorText/>
}
else if (_data == null)
{
	<Loading/>
}
else 
{
	<h1>@_data</h1>
}


@code {
	private string? _data;

	private string? _errorText = null;

	protected override async Task OnInitializedAsync()
	{
		try
		{
			var recipe = await source.Get(2);
			recipe.Name = $"R2-updated{DateTimeOffset.Now}";
			await source.Update(recipe);
			_data = recipe.Name;
		}
		catch (ClientErrorException ex)
		{
			_errorText = ex.Message;
		}
	}
}
