@page "/"

@inject RecipeSource source

<PageTitle>Index</PageTitle>

@if (_errorText != null)
{
	<ClientError Text=@_errorText />
}
else if (_recipe == null)
{
	<Loading />
}
else
{
	<h1>@_recipe.Name</h1>
	<ul>
		@foreach (var tag in _recipe.Tags)
		{
			<li>@tag.Name</li>
		}
	</ul>
	<EditForm Model="@_tags" OnSubmit="@HandleSubmit">
		<TagInput Tags=_tags /> @*@bind-Tags=_recipe.Tags*@
	</EditForm>
}


@code {
	private RecipeDto? _recipe = null;
	private List<TagDto> _tags = new();

	private string? _errorText = null;

	protected override async Task OnInitializedAsync()
	{
		try
		{
			_recipe = await source.Get(2);
			_recipe.Name = $"R2-updated{DateTimeOffset.Now}";
			await source.Update(_recipe);

		}
		catch (ClientErrorException ex)
		{
			_errorText = ex.Message;
		}
	}

	protected void HandleSubmit()
	{

	}

}
