
<div class="row g-3">
	@foreach (var recipe in Recipes)
	{
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="d-flex justify-content-between">
						<h4 class="card-title">@recipe.Name</h4>
						<a href="/users/@recipe.User.Id" class="card-subtitle text-body-secondary">@recipe.User.Username</a>
					</div>
					<div class="hstack gap-2">
						@foreach (var tag in recipe.Tags)
						{
							<div class="border border-secondary rounded px-2 py-1">#@tag.Name</div>
						}
					</div>
					<div class="hstack gap-2">
						@foreach (var ingredient in recipe.Ingredients)
						{
							<div class="border">@ingredient.Name</div>
						}
					</div>
				</div>
			</div>
		</div>
	}
</div>

@code {
	[Parameter]
	public IEnumerable<RecipeDto> Recipes { get; set; }

}
