@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @*<div class="top-row">
            <a href="/create-recipe" class="icon-link"><span class="oi oi-plus"></span> New recipe</a>
        </div>*@

        <article class="content">
		    <div class="row">
                <div class="col-xl-9 col-xxl-6">
			        <ErrorBoundary>
                        @Body
                    </ErrorBoundary>
                </div>
		    </div>
        </article>
    </main>
</div>
