
<div class="row g-3">
	@foreach (var recipe in Recipes)
	{
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<a href="/recipes/@recipe.Id/@UrlUtils.EncodeToReadableUrl(@recipe.Name)" class="stretched-link"></a>
					<div class="d-flex justify-content-between">
						<h4 class="card-title">@recipe.Name</h4>
						@if(recipe.User != null)
						{
							<a href="/users/@recipe.User.Id" class="card-subtitle text-body-secondary">
								@recipe.User.Username
							</a>
						}
					</div>
					<div class="hstack gap-2">
						@foreach (var tag in recipe.Tags)
						{
							<div class="border border-secondary rounded px-2 py-1">#@tag</div>
						}
					</div>
					<div class="hstack gap-2">
						@foreach (var ingredient in recipe.Ingredients)
						{
							<div class="border">@ingredient</div>
						}
					</div>
				</div>
			</div>
		</div>
	}
</div>

@code {
	[Parameter]
	public IEnumerable<RecipeDto> Recipes { get; set; }

}
