
<div class="row g-3">
	@foreach (var recipe in Recipes)
	{
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<a href="/recipes/@recipe.Id/@UrlUtils.EncodeToReadableUrl(@recipe.Name)" class="stretched-link"></a>
					<div class="d-flex justify-content-between">
						<h4 class="card-title">@recipe.Name</h4>
						@if(recipe.User != null)
						{
							<a href="/users/@recipe.User.Id" class="card-subtitle text-body-secondary">
								@recipe.User.Username
							</a>
						}
					</div>

					<div class="vstack gap-2">
						<div class="hstack flex-wrap gap-2">
							@foreach (var tag in recipe.Tags)
							{
								<div>#@tag</div>
							}
						</div>
						<div class="hstack flex-wrap gap-2">
							@foreach (var ingredient in recipe.Ingredients)
							{
								<div class="border border-secondary rounded-pill px-2 py-1">@ingredient</div>
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>

@code {
	[Parameter]
	public IEnumerable<RecipeDto> Recipes { get; set; }

}
